<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/output.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <title>Jeddit</title>
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
{{ end }}
